h1 {
    font-family:sans-serif;
    text-align:center;
    border-width: thick;
    border-color: orange;
    border-style: outset;
}
h3 {
    font-family:serif;
    padding-top:20px;
    text-align:center;
    

#SFF {
    border-width:thick;
    border-color:orange;
    border-style:outset;
}
